#mainforecast {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 0;
  padding: 10px 10px 10px 10px;
  color: black;
  font-family: poppins;
  font-weight: 500;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 85vh;
  
}

#search {
  display: flex;
  justify-content: center;
  margin: 20px 10px 60px 0px;
}

#search img {
  width: 24px;
  margin-right: 10px;
}

#search input {
  font-size: 16px;
  background: transparent;
  width: 150px;
  outline: none;
  border: none;
  color: black;
}

#search input::placeholder {
  font-family: poppins;
}

#sky-icon img {
  width: 160px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#temperature {
  font-size: 70px;
  font-weight: 300;
}

#temperature sup {
  font-size: 30px;
}

#date {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: -20px;
  margin-bottom: 60px;
}

#date p:nth-child(2) {
  color: gray;
}

#weather {
  display: flex;
  margin-left: 0px;
  justify-content: center;
  gap: 10px;
  color: rgb(48, 48, 48);
}

#weather img {
  width: 30px;
}

#rain {
  display: flex;
  margin-left: -38px;
  justify-content: center;
  gap: 15px;
  margin-top: -20px;
  color: rgb(48, 48, 48);
  font-size:15px;
}

#rain img {
  width: 20px;
}

#cityName {
  margin-top: 40px;
  font-size: 30px;
  color: rgb(99, 99, 99);
  display:flex;
  justify-content: center;
  gap:10px;
}
#cityName img{
  width:30px;
}
#cityName img:hover{
  transform:scale(1.1);
  cursor:pointer;
}