#otherforecast{
  display:flex;
  flex-direction:column;
  flex:8;
  background-color: rgb(233, 233, 233);
  color:black;
}
#otherforecast h4{
  font-family:poppins;
  font-weight:500;
  text-align:start;
  margin-left:40px;
  margin-top:50px;
}