#pinnedsection{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex:2;
  background: linear-gradient(to top, #9bc4dd , #e2ebf0 );
  font-family:poppins;
  min-height:90vh;
  z-index:2;
}


#pin-div{
  color:rgb(53, 53, 53);
  background-color: rgba(255, 255, 255, 0.788);
  height:95%;
  margin-top:20px;
  margin-right:20px;
  border-radius:15px;
  position:relative;
  overflow: hidden;
}
#pintop{
  display:flex;
  justify-content: center;
  gap:10px;
  margin-left:10px;
  margin-top:20px;
  padding-top:10px;
}
#pintop img{
  width:20px;
}

#pins{
  box-sizing: border-box;
 
  background-color: rgb(194, 194, 194);
  border-radius:15px;
  /* min-width:max-content; */
  /* width:auto; */
  height:auto;
  margin:0px 20px 16px 20px;
  padding: 0px 10px 10px 10px;
  line-height: 8px;
  z-index:6;
}
#pinmain{
  display:flex;
  justify-content: space-around;
  gap:20px;
  align-items: center;
}
#pinmain p:first-child{
  font-weight:500;
}
#pinmain p:last-child{
  font-size:14px;
  font-weight:500;
}
#pinmain span{
  margin-left:5px;
  font-weight:500; 
  color:rgb(112, 112, 112);
}
#pininfo{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width:auto;
  height:20px;
  border-radius:30px;
  color:rgb(88, 88, 88);
  font-size:14px;
  margin:0px 10px 0px 10px;
}
#nothing p{
  color:black;
}
#globe{
  width:500px;
  position:absolute;
  top:45%;
  left:10%;
  opacity:0.3;
}